<a routerLink="/categories" class="back-link">
  ← Torna alle categorie
</a>

<h1>{{ isCreateMode() ? 'Crea categoria' : 'Modifica categoria' }}</h1>

<div *ngIf="isLoading()">
  Caricamento categoria...
</div>

<div *ngIf="!isLoading() && errorMessage()" class="error">
  {{ errorMessage() }}
</div>

<form
  *ngIf="!isLoading() && !errorMessage()"
  [formGroup]="form"
  (ngSubmit)="saveCategory()"
  class="category-form">

  <label>Nome categoria</label>

  <input
    type="text"
    formControlName="name">

  <small *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
    Il nome deve avere almeno 2 caratteri.
  </small>

  <button type="submit" [disabled]="isSaving()">
    {{ isSaving() ? 'Salvataggio...' : (isCreateMode() ? 'Crea categoria' : 'Salva modifiche') }}
  </button>
</form>